In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Creating_dataframes").getOrCreate()
rows=[["vamsi",20],["krishna",21]]
cols=["Name","Age"]
df=spark.createDataFrame(rows,cols)
df.show()

+-------+---+
|   Name|Age|
+-------+---+
|  vamsi| 20|
|krishna| 21|
+-------+---+

In [3]:
csv_path=r"C:\Users\Vamsi\Downloads\archive (1)\output1_csv.csv"
df=spark.read.csv(csv_path,header=True)
df.show()

+---+------+-------+----------+----------+----------+---------------+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+-----------+------------+----------+------+-----------+--------------+
|_c0|    id| season|      city|      date|match_type|player_of_match|               venue|               team1|               team2|         toss_winner|toss_decision|              winner| result|result_margin|target_runs|target_overs|super_over|method|    umpire1|       umpire2|
+---+------+-------+----------+----------+----------+---------------+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+-----------+------------+----------+------+-----------+--------------+
|  0|335982|2007/08| Bangalore|2008-04-18|    League|    BB McCullum|M Chinnaswamy Sta...|Royal Challengers...|Kolkata Knight Ri...|Royal Challengers...|        field|Kolkata Knight Ri...|   runs|        140.0|      223.0|        20.0|         N|  NULL|  Asad Rauf|   RE Koertzen|
|  1|335983|2007/08|Chandigarh|2008-04-19|    League|     MEK Hussey|Punjab Cricket As...|     Kings XI Punjab| Chennai Super Kings| Chennai Super Kings|          bat| Chennai Super Kings|   runs|         33.0|      241.0|        20.0|         N|  NULL|  MR Benson|    SL Shastri|
|  2|335984|2007/08|     Delhi|2008-04-19|    League|    MF Maharoof|    Feroz Shah Kotla|    Delhi Daredevils|    Rajasthan Royals|    Rajasthan Royals|          bat|    Delhi Daredevils|wickets|          9.0|      130.0|        20.0|         N|  NULL|  Aleem Dar|GA Pratapkumar|
|  3|335985|2007/08|    Mumbai|2008-04-20|    League|     MV Boucher|    Wankhede Stadium|      Mumbai Indians|Royal Challengers...|      Mumbai Indians|          bat|Royal Challengers...|wickets|          5.0|      166.0|        20.0|         N|  NULL|   SJ Davis|     DJ Harper|
|  4|335986|2007/08|   Kolkata|2008-04-20|    League|      DJ Hussey|        Eden Gardens|Kolkata Knight Ri...|     Deccan Chargers|     Deccan Chargers|          bat|Kolkata Knight Ri...|wickets|          5.0|      111.0|        20.0|         N|  NULL|  BF Bowden|   K Hariharan|
|  5|335987|2007/08|    Jaipur|2008-04-21|    League|      SR Watson|Sawai Mansingh St...|    Rajasthan Royals|     Kings XI Punjab|     Kings XI Punjab|          bat|    Rajasthan Royals|wickets|          6.0|      167.0|        20.0|         N|  NULL|  Aleem Dar|     RB Tiffin|
|  6|335988|2007/08| Hyderabad|2008-04-22|    League|       V Sehwag|Rajiv Gandhi Inte...|     Deccan Chargers|    Delhi Daredevils|     Deccan Chargers|          bat|    Delhi Daredevils|wickets|          9.0|      143.0|        20.0|         N|  NULL|  IL Howell|     AM Saheba|
|  7|335989|2007/08|   Chennai|2008-04-23|    League|      ML Hayden|MA Chidambaram St...| Chennai Super Kings|      Mumbai Indians|      Mumbai Indians|        field| Chennai Super Kings|   runs|          6.0|      209.0|        20.0|         N|  NULL|  DJ Harper|GA Pratapkumar|
|  8|335990|2007/08| Hyderabad|2008-04-24|    League|      YK Pathan|Rajiv Gandhi Inte...|     Deccan Chargers|    Rajasthan Royals|    Rajasthan Royals|        field|    Rajasthan Royals|wickets|          3.0|      215.0|        20.0|         N|  NULL|  Asad Rauf|     MR Benson|
|  9|335991|2007/08|Chandigarh|2008-04-25|    League|  KC Sangakkara|Punjab Cricket As...|     Kings XI Punjab|      Mumbai Indians|      Mumbai Indians|        field|     Kings XI Punjab|   runs|         66.0|      183.0|        20.0|         N|  NULL|  Aleem Dar|     AM Saheba|
| 10|335992|2007/08| Bangalore|2008-04-26|    League|      SR Watson|M Chinnaswamy Sta...|Royal Challengers...|    Rajasthan Royals|    Rajasthan Royals|        field|    Rajasthan Royals|wickets|          7.0|      136.0|        20.0|         N|  NULL|  MR Benson|     IL Howell|
| 11|335993|2007/08|   Chennai|2008-04-26|    League|       JDP Oram|MA Chidambaram St...| Chennai Super Kings|Kolkata Knight Ri...|Kolkata Knight Ri...|          bat| Chennai Super Kings|wickets|          9.0|      148.0|        20.0|         N|  NULL|  BF Bowden|AV Jayaprakash|
| 12|335994|2007/08|    Mumbai|2008-04-27|    League|   AC Gilchrist|Dr DY Patil Sport...|      Mumbai Indians|     Deccan Chargers|     Deccan Chargers|        field|     Deccan Chargers|wickets|         10.0|      155.0|        20.0|         N|  NULL|  Asad Rauf|    SL Shastri|
| 13|335995|2007/08|Chandigarh|2008-04-27|    League|      SM Katich|Punjab Cricket As...|     Kings XI Punjab|    Delhi Daredevils|    Delhi Daredevils|          bat|     Kings XI Punjab|wickets|          4.0|      159.0|        20.0|         N|  NULL|RE Koertzen|     I Shivram|
| 14|335996|2007/08| Bangalore|2008-04-28|    League|       MS Dhoni|M Chinnaswamy Sta...|Royal Challengers...| Chennai Super Kings| Chennai Super Kings|          bat| Chennai Super Kings|   runs|         13.0|      179.0|        20.0|         N|  NULL|BR Doctrove|     RB Tiffin|
| 15|335997|2007/08|   Kolkata|2008-04-29|    League|  ST Jayasuriya|        Eden Gardens|Kolkata Knight Ri...|      Mumbai Indians|Kolkata Knight Ri...|          bat|      Mumbai Indians|wickets|          7.0|      138.0|        20.0|         N|  NULL|  BF Bowden|AV Jayaprakash|
| 16|335998|2007/08|     Delhi|2008-04-30|    League|     GD McGrath|    Feroz Shah Kotla|    Delhi Daredevils|Royal Challengers...|Royal Challengers...|        field|    Delhi Daredevils|   runs|         10.0|      192.0|        20.0|         N|  NULL|  Aleem Dar|     I Shivram|
| 17|335999|2007/08| Hyderabad|2008-05-01|    League|       SE Marsh|Rajiv Gandhi Inte...|     Deccan Chargers|     Kings XI Punjab|     Kings XI Punjab|        field|     Kings XI Punjab|wickets|          7.0|      165.0|        20.0|         N|  NULL|BR Doctrove|     RB Tiffin|
| 18|336000|2007/08|    Jaipur|2008-05-01|    League|    SA Asnodkar|Sawai Mansingh St...|    Rajasthan Royals|Kolkata Knight Ri...|    Rajasthan Royals|          bat|    Rajasthan Royals|   runs|         45.0|      197.0|        20.0|         N|  NULL|RE Koertzen|GA Pratapkumar|
| 19|336001|2007/08|   Chennai|2008-05-02|    League|       V Sehwag|MA Chidambaram St...| Chennai Super Kings|    Delhi Daredevils| Chennai Super Kings|          bat|    Delhi Daredevils|wickets|          8.0|      170.0|        20.0|         N|  NULL|  BF Bowden|   K Hariharan|
+---+------+-------+----------+----------+----------+---------------+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+-----------+------------+----------+------+-----------+--------------+
only showing top 20 rows

In [4]:
df=df.withColumn("target_runs",df["target_runs"]+0)
df.show()

+---+------+-------+----------+----------+----------+---------------+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+-----------+------------+----------+------+-----------+--------------+
|_c0|    id| season|      city|      date|match_type|player_of_match|               venue|               team1|               team2|         toss_winner|toss_decision|              winner| result|result_margin|target_runs|target_overs|super_over|method|    umpire1|       umpire2|
+---+------+-------+----------+----------+----------+---------------+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+-----------+------------+----------+------+-----------+--------------+
|  0|335982|2007/08| Bangalore|2008-04-18|    League|    BB McCullum|M Chinnaswamy Sta...|Royal Challengers...|Kolkata Knight Ri...|Royal Challengers...|        field|Kolkata Knight Ri...|   runs|        140.0|      223.0|        20.0|         N|  NULL|  Asad Rauf|   RE Koertzen|
|  1|335983|2007/08|Chandigarh|2008-04-19|    League|     MEK Hussey|Punjab Cricket As...|     Kings XI Punjab| Chennai Super Kings| Chennai Super Kings|          bat| Chennai Super Kings|   runs|         33.0|      241.0|        20.0|         N|  NULL|  MR Benson|    SL Shastri|
|  2|335984|2007/08|     Delhi|2008-04-19|    League|    MF Maharoof|    Feroz Shah Kotla|    Delhi Daredevils|    Rajasthan Royals|    Rajasthan Royals|          bat|    Delhi Daredevils|wickets|          9.0|      130.0|        20.0|         N|  NULL|  Aleem Dar|GA Pratapkumar|
|  3|335985|2007/08|    Mumbai|2008-04-20|    League|     MV Boucher|    Wankhede Stadium|      Mumbai Indians|Royal Challengers...|      Mumbai Indians|          bat|Royal Challengers...|wickets|          5.0|      166.0|        20.0|         N|  NULL|   SJ Davis|     DJ Harper|
|  4|335986|2007/08|   Kolkata|2008-04-20|    League|      DJ Hussey|        Eden Gardens|Kolkata Knight Ri...|     Deccan Chargers|     Deccan Chargers|          bat|Kolkata Knight Ri...|wickets|          5.0|      111.0|        20.0|         N|  NULL|  BF Bowden|   K Hariharan|
|  5|335987|2007/08|    Jaipur|2008-04-21|    League|      SR Watson|Sawai Mansingh St...|    Rajasthan Royals|     Kings XI Punjab|     Kings XI Punjab|          bat|    Rajasthan Royals|wickets|          6.0|      167.0|        20.0|         N|  NULL|  Aleem Dar|     RB Tiffin|
|  6|335988|2007/08| Hyderabad|2008-04-22|    League|       V Sehwag|Rajiv Gandhi Inte...|     Deccan Chargers|    Delhi Daredevils|     Deccan Chargers|          bat|    Delhi Daredevils|wickets|          9.0|      143.0|        20.0|         N|  NULL|  IL Howell|     AM Saheba|
|  7|335989|2007/08|   Chennai|2008-04-23|    League|      ML Hayden|MA Chidambaram St...| Chennai Super Kings|      Mumbai Indians|      Mumbai Indians|        field| Chennai Super Kings|   runs|          6.0|      209.0|        20.0|         N|  NULL|  DJ Harper|GA Pratapkumar|
|  8|335990|2007/08| Hyderabad|2008-04-24|    League|      YK Pathan|Rajiv Gandhi Inte...|     Deccan Chargers|    Rajasthan Royals|    Rajasthan Royals|        field|    Rajasthan Royals|wickets|          3.0|      215.0|        20.0|         N|  NULL|  Asad Rauf|     MR Benson|
|  9|335991|2007/08|Chandigarh|2008-04-25|    League|  KC Sangakkara|Punjab Cricket As...|     Kings XI Punjab|      Mumbai Indians|      Mumbai Indians|        field|     Kings XI Punjab|   runs|         66.0|      183.0|        20.0|         N|  NULL|  Aleem Dar|     AM Saheba|
| 10|335992|2007/08| Bangalore|2008-04-26|    League|      SR Watson|M Chinnaswamy Sta...|Royal Challengers...|    Rajasthan Royals|    Rajasthan Royals|        field|    Rajasthan Royals|wickets|          7.0|      136.0|        20.0|         N|  NULL|  MR Benson|     IL Howell|
| 11|335993|2007/08|   Chennai|2008-04-26|    League|       JDP Oram|MA Chidambaram St...| Chennai Super Kings|Kolkata Knight Ri...|Kolkata Knight Ri...|          bat| Chennai Super Kings|wickets|          9.0|      148.0|        20.0|         N|  NULL|  BF Bowden|AV Jayaprakash|
| 12|335994|2007/08|    Mumbai|2008-04-27|    League|   AC Gilchrist|Dr DY Patil Sport...|      Mumbai Indians|     Deccan Chargers|     Deccan Chargers|        field|     Deccan Chargers|wickets|         10.0|      155.0|        20.0|         N|  NULL|  Asad Rauf|    SL Shastri|
| 13|335995|2007/08|Chandigarh|2008-04-27|    League|      SM Katich|Punjab Cricket As...|     Kings XI Punjab|    Delhi Daredevils|    Delhi Daredevils|          bat|     Kings XI Punjab|wickets|          4.0|      159.0|        20.0|         N|  NULL|RE Koertzen|     I Shivram|
| 14|335996|2007/08| Bangalore|2008-04-28|    League|       MS Dhoni|M Chinnaswamy Sta...|Royal Challengers...| Chennai Super Kings| Chennai Super Kings|          bat| Chennai Super Kings|   runs|         13.0|      179.0|        20.0|         N|  NULL|BR Doctrove|     RB Tiffin|
| 15|335997|2007/08|   Kolkata|2008-04-29|    League|  ST Jayasuriya|        Eden Gardens|Kolkata Knight Ri...|      Mumbai Indians|Kolkata Knight Ri...|          bat|      Mumbai Indians|wickets|          7.0|      138.0|        20.0|         N|  NULL|  BF Bowden|AV Jayaprakash|
| 16|335998|2007/08|     Delhi|2008-04-30|    League|     GD McGrath|    Feroz Shah Kotla|    Delhi Daredevils|Royal Challengers...|Royal Challengers...|        field|    Delhi Daredevils|   runs|         10.0|      192.0|        20.0|         N|  NULL|  Aleem Dar|     I Shivram|
| 17|335999|2007/08| Hyderabad|2008-05-01|    League|       SE Marsh|Rajiv Gandhi Inte...|     Deccan Chargers|     Kings XI Punjab|     Kings XI Punjab|        field|     Kings XI Punjab|wickets|          7.0|      165.0|        20.0|         N|  NULL|BR Doctrove|     RB Tiffin|
| 18|336000|2007/08|    Jaipur|2008-05-01|    League|    SA Asnodkar|Sawai Mansingh St...|    Rajasthan Royals|Kolkata Knight Ri...|    Rajasthan Royals|          bat|    Rajasthan Royals|   runs|         45.0|      197.0|        20.0|         N|  NULL|RE Koertzen|GA Pratapkumar|
| 19|336001|2007/08|   Chennai|2008-05-02|    League|       V Sehwag|MA Chidambaram St...| Chennai Super Kings|    Delhi Daredevils| Chennai Super Kings|          bat|    Delhi Daredevils|wickets|          8.0|      170.0|        20.0|         N|  NULL|  BF Bowden|   K Hariharan|
+---+------+-------+----------+----------+----------+---------------+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+-----------+------------+----------+------+-----------+--------------+
only showing top 20 rows

In [5]:
df=df.drop("umpire2")
df.show()

+---+------+-------+----------+----------+----------+---------------+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+-----------+------------+----------+------+-----------+
|_c0|    id| season|      city|      date|match_type|player_of_match|               venue|               team1|               team2|         toss_winner|toss_decision|              winner| result|result_margin|target_runs|target_overs|super_over|method|    umpire1|
+---+------+-------+----------+----------+----------+---------------+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+-----------+------------+----------+------+-----------+
|  0|335982|2007/08| Bangalore|2008-04-18|    League|    BB McCullum|M Chinnaswamy Sta...|Royal Challengers...|Kolkata Knight Ri...|Royal Challengers...|        field|Kolkata Knight Ri...|   runs|        140.0|      223.0|        20.0|         N|  NULL|  Asad Rauf|
|  1|335983|2007/08|Chandigarh|2008-04-19|    League|     MEK Hussey|Punjab Cricket As...|     Kings XI Punjab| Chennai Super Kings| Chennai Super Kings|          bat| Chennai Super Kings|   runs|         33.0|      241.0|        20.0|         N|  NULL|  MR Benson|
|  2|335984|2007/08|     Delhi|2008-04-19|    League|    MF Maharoof|    Feroz Shah Kotla|    Delhi Daredevils|    Rajasthan Royals|    Rajasthan Royals|          bat|    Delhi Daredevils|wickets|          9.0|      130.0|        20.0|         N|  NULL|  Aleem Dar|
|  3|335985|2007/08|    Mumbai|2008-04-20|    League|     MV Boucher|    Wankhede Stadium|      Mumbai Indians|Royal Challengers...|      Mumbai Indians|          bat|Royal Challengers...|wickets|          5.0|      166.0|        20.0|         N|  NULL|   SJ Davis|
|  4|335986|2007/08|   Kolkata|2008-04-20|    League|      DJ Hussey|        Eden Gardens|Kolkata Knight Ri...|     Deccan Chargers|     Deccan Chargers|          bat|Kolkata Knight Ri...|wickets|          5.0|      111.0|        20.0|         N|  NULL|  BF Bowden|
|  5|335987|2007/08|    Jaipur|2008-04-21|    League|      SR Watson|Sawai Mansingh St...|    Rajasthan Royals|     Kings XI Punjab|     Kings XI Punjab|          bat|    Rajasthan Royals|wickets|          6.0|      167.0|        20.0|         N|  NULL|  Aleem Dar|
|  6|335988|2007/08| Hyderabad|2008-04-22|    League|       V Sehwag|Rajiv Gandhi Inte...|     Deccan Chargers|    Delhi Daredevils|     Deccan Chargers|          bat|    Delhi Daredevils|wickets|          9.0|      143.0|        20.0|         N|  NULL|  IL Howell|
|  7|335989|2007/08|   Chennai|2008-04-23|    League|      ML Hayden|MA Chidambaram St...| Chennai Super Kings|      Mumbai Indians|      Mumbai Indians|        field| Chennai Super Kings|   runs|          6.0|      209.0|        20.0|         N|  NULL|  DJ Harper|
|  8|335990|2007/08| Hyderabad|2008-04-24|    League|      YK Pathan|Rajiv Gandhi Inte...|     Deccan Chargers|    Rajasthan Royals|    Rajasthan Royals|        field|    Rajasthan Royals|wickets|          3.0|      215.0|        20.0|         N|  NULL|  Asad Rauf|
|  9|335991|2007/08|Chandigarh|2008-04-25|    League|  KC Sangakkara|Punjab Cricket As...|     Kings XI Punjab|      Mumbai Indians|      Mumbai Indians|        field|     Kings XI Punjab|   runs|         66.0|      183.0|        20.0|         N|  NULL|  Aleem Dar|
| 10|335992|2007/08| Bangalore|2008-04-26|    League|      SR Watson|M Chinnaswamy Sta...|Royal Challengers...|    Rajasthan Royals|    Rajasthan Royals|        field|    Rajasthan Royals|wickets|          7.0|      136.0|        20.0|         N|  NULL|  MR Benson|
| 11|335993|2007/08|   Chennai|2008-04-26|    League|       JDP Oram|MA Chidambaram St...| Chennai Super Kings|Kolkata Knight Ri...|Kolkata Knight Ri...|          bat| Chennai Super Kings|wickets|          9.0|      148.0|        20.0|         N|  NULL|  BF Bowden|
| 12|335994|2007/08|    Mumbai|2008-04-27|    League|   AC Gilchrist|Dr DY Patil Sport...|      Mumbai Indians|     Deccan Chargers|     Deccan Chargers|        field|     Deccan Chargers|wickets|         10.0|      155.0|        20.0|         N|  NULL|  Asad Rauf|
| 13|335995|2007/08|Chandigarh|2008-04-27|    League|      SM Katich|Punjab Cricket As...|     Kings XI Punjab|    Delhi Daredevils|    Delhi Daredevils|          bat|     Kings XI Punjab|wickets|          4.0|      159.0|        20.0|         N|  NULL|RE Koertzen|
| 14|335996|2007/08| Bangalore|2008-04-28|    League|       MS Dhoni|M Chinnaswamy Sta...|Royal Challengers...| Chennai Super Kings| Chennai Super Kings|          bat| Chennai Super Kings|   runs|         13.0|      179.0|        20.0|         N|  NULL|BR Doctrove|
| 15|335997|2007/08|   Kolkata|2008-04-29|    League|  ST Jayasuriya|        Eden Gardens|Kolkata Knight Ri...|      Mumbai Indians|Kolkata Knight Ri...|          bat|      Mumbai Indians|wickets|          7.0|      138.0|        20.0|         N|  NULL|  BF Bowden|
| 16|335998|2007/08|     Delhi|2008-04-30|    League|     GD McGrath|    Feroz Shah Kotla|    Delhi Daredevils|Royal Challengers...|Royal Challengers...|        field|    Delhi Daredevils|   runs|         10.0|      192.0|        20.0|         N|  NULL|  Aleem Dar|
| 17|335999|2007/08| Hyderabad|2008-05-01|    League|       SE Marsh|Rajiv Gandhi Inte...|     Deccan Chargers|     Kings XI Punjab|     Kings XI Punjab|        field|     Kings XI Punjab|wickets|          7.0|      165.0|        20.0|         N|  NULL|BR Doctrove|
| 18|336000|2007/08|    Jaipur|2008-05-01|    League|    SA Asnodkar|Sawai Mansingh St...|    Rajasthan Royals|Kolkata Knight Ri...|    Rajasthan Royals|          bat|    Rajasthan Royals|   runs|         45.0|      197.0|        20.0|         N|  NULL|RE Koertzen|
| 19|336001|2007/08|   Chennai|2008-05-02|    League|       V Sehwag|MA Chidambaram St...| Chennai Super Kings|    Delhi Daredevils| Chennai Super Kings|          bat|    Delhi Daredevils|wickets|          8.0|      170.0|        20.0|         N|  NULL|  BF Bowden|
+---+------+-------+----------+----------+----------+---------------+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+-----------+------------+----------+------+-----------+
only showing top 20 rows

In [6]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("CRUD_PYSPARK_SQL").getOrCreate()
file_path1="hdfs://localhost:9000/users/covid_db/country_wise_latest.csv"

df_lastest=spark.read.csv(file_path1,header=True)
df_clean_complete=spark.read.csv("hdfs://localhost:9000/users/covid_db/covid_19_clean_complete.csv",header=True)
df_day_wise=spark.read.csv("hdfs://localhost:9000/users/covid_db/day_wise.csv",header=True)
df_full_grouped=spark.read.csv("hdfs://localhost:9000/users/covid_db/full_grouped.csv",header=True)
df_usa_country_wise=spark.read.csv("hdfs://localhost:9000/users/covid_db/usa_county_wise.csv",header=True)
df_worldometer_data=spark.read.csv("hdfs://localhost:9000/users/covid_db/worldometer_data.csv",header=True)

In [7]:
df_lastest.createOrReplaceTempView("country_latest")
result=spark.sql("""select `Country/Region`,Confirmed,Deaths,Recovered,Active,`New cases` from country_latest """)
result.show()

+-------------------+---------+------+---------+------+---------+
|     Country/Region|Confirmed|Deaths|Recovered|Active|New cases|
+-------------------+---------+------+---------+------+---------+
|        Afghanistan|    36263|  1269|    25198|  9796|      106|
|            Albania|     4880|   144|     2745|  1991|      117|
|            Algeria|    27973|  1163|    18837|  7973|      616|
|            Andorra|      907|    52|      803|    52|       10|
|             Angola|      950|    41|      242|   667|       18|
|Antigua and Barbuda|       86|     3|       65|    18|        4|
|          Argentina|   167416|  3059|    72575| 91782|     4890|
|            Armenia|    37390|   711|    26665| 10014|       73|
|          Australia|    15303|   167|     9311|  5825|      368|
|            Austria|    20558|   713|    18246|  1599|       86|
|         Azerbaijan|    30446|   423|    23242|  6781|      396|
|            Bahamas|      382|    11|       91|   280|       40|
|            Bahrain|    39482|   141|    36110|  3231|      351|
|         Bangladesh|   226225|  2965|   125683| 97577|     2772|
|           Barbados|      110|     7|       94|     9|        0|
|            Belarus|    67251|   538|    60492|  6221|      119|
|            Belgium|    66428|  9822|    17452| 39154|      402|
|             Belize|       48|     2|       26|    20|        0|
|              Benin|     1770|    35|     1036|   699|        0|
|             Bhutan|       99|     0|       86|    13|        4|
+-------------------+---------+------+---------+------+---------+
only showing top 20 rows

In [8]:
df_lastest.createOrReplaceTempView("country_latest")

result = spark.sql("""
    SELECT `Country/Region`, 
           ROUND(`Recovered / 100 Cases`, 2) AS Recovery_Rate,
           ROUND(`Deaths / 100 Cases`, 2) AS Fatality_Rate
    FROM country_latest
    WHERE `Confirmed` > 0
    ORDER BY Recovery_Rate DESC
""")

result.show()

+--------------+-------------+-------------+
|Country/Region|Recovery_Rate|Fatality_Rate|
+--------------+-------------+-------------+
|      Dominica|        100.0|          0.0|
|       Grenada|        100.0|          0.0|
|      Holy See|        100.0|          0.0|
|      Djibouti|        98.38|         1.15|
|       Iceland|        98.33|         0.54|
|        Brunei|        97.87|         2.13|
|   New Zealand|        97.24|         1.41|
|         Qatar|        97.02|         0.15|
|      Malaysia|         96.6|         1.39|
|     Mauritius|        96.51|         2.91|
|        Norway|        95.84|         2.79|
|       Taiwan*|        95.24|         1.52|
|          Laos|         95.0|          0.0|
|         Malta|        94.86|         1.28|
|       Estonia|        94.54|         3.39|
|      Thailand|        94.36|         1.76|
| Liechtenstein|        94.19|         1.16|
|    San Marino|        93.99|         6.01|
|       Finland|        93.54|         4.45|
|     Greenland|        92.86|          0.0|
+--------------+-------------+-------------+
only showing top 20 rows

In [9]:
#1. To find out the death percentage locally and globally
df_lastest.createOrReplaceTempView("country_lastest")
df_clean_complete.createOrReplaceTempView("clean_complete")
df_day_wise.createOrReplaceTempView("day_wise")
df_full_grouped.createOrReplaceTempView("full_grouped")
df_usa_country_wise.createOrReplaceTempView("usa_country_wise")
df_worldometer_data.createOrReplaceTempView("worldometer_data")
res=spark.sql("""SELECT
  (SELECT SUM(TotalDeaths) * 100.0 /SUM(TotalCases)
   FROM worldometer_data
   WHERE `Country/Region` = 'USA') AS Local_Death_percentage,
  (SELECT SUM(TotalDeaths) * 100.0 /SUM(TotalCases)
   FROM worldometer_data
   WHERE `Country/Region` != 'USA') AS Global_Death_percentage""")

res.show()

+----------------------+-----------------------+
|Local_Death_percentage|Global_Death_percentage|
+----------------------+-----------------------+
|    3.2352585231964124|      3.891939633247169|
+----------------------+-----------------------+

In [10]:
#2. To find out the infected population percentage locally and globally
df_lastest.createOrReplaceTempView("country_lastest")
df_clean_complete.createOrReplaceTempView("clean_complete")
df_day_wise.createOrReplaceTempView("day_wise")
df_full_grouped.createOrReplaceTempView("full_grouped")
df_usa_country_wise.createOrReplaceTempView("usa_country_wise")
df_worldometer_data.createOrReplaceTempView("worldometer_data")
res = spark.sql("""
SELECT
  (SELECT SUM(TotalCases) * 100.0 / SUM(Population)
     FROM worldometer_data
     WHERE `Country/Region` = 'USA') AS local_Infected_percentage,
  (SELECT SUM(TotalCases) * 100.0 / SUM(Population)
     FROM worldometer_data
     WHERE `Country/Region` != 'USA') AS global_Infected_percentage
""")
res.show()

+-------------------------+--------------------------+
|local_Infected_percentage|global_Infected_percentage|
+-------------------------+--------------------------+
|       1.5193862960518527|       0.23580418314236695|
+-------------------------+--------------------------+

In [11]:
#3. To find out the countries with the highest infection rates
df_lastest.createOrReplaceTempView("country_lastest")
df_clean_complete.createOrReplaceTempView("clean_complete")
df_day_wise.createOrReplaceTempView("day_wise")
df_full_grouped.createOrReplaceTempView("full_grouped")
df_usa_country_wise.createOrReplaceTempView("usa_country_wise")
df_worldometer_data.createOrReplaceTempView("worldometer_data")
res=spark.sql( """select `Country/Region` as Country,SUM(TotalCases) * 100.0 / SUM(Population) as infected_percentage from worldometer_data
              group by `Country/Region`
              order by infected_percentage desc
              limit 10
              """
    
)
res.show()

+-------------+-------------------+
|      Country|infected_percentage|
+-------------+-------------------+
|        Qatar| 3.9921575750452756|
|French Guiana| 2.7145648579588157|
|      Bahrain| 2.5130239079751258|
|   San Marino|  2.059638163710295|
|        Chile| 1.9164810228284688|
|       Panama| 1.6527039892328248|
|       Kuwait| 1.6378443167538765|
|         Oman| 1.5769043963734306|
|          USA| 1.5193862960518527|
| Vatican City| 1.4981273408239701|
+-------------+-------------------+

In [12]:
#4. To find out the countries and continents with the highest death counts
df_lastest.createOrReplaceTempView("country_lastest")
df_clean_complete.createOrReplaceTempView("clean_complete")
df_day_wise.createOrReplaceTempView("day_wise")
df_full_grouped.createOrReplaceTempView("full_grouped")
df_usa_country_wise.createOrReplaceTempView("usa_country_wise")
df_worldometer_data.createOrReplaceTempView("worldometer_data")
res=spark.sql("""select `Country/Region`,TotalDeaths from worldometer_data
              order by cast(TotalDeaths as int) desc
              limit 10""")
res.show()
res=spark.sql("""select Continent,sum(TotalDeaths) as Total_deaths from worldometer_data
              group by Continent
              order by cast(Total_deaths as int) desc""" )
res.show()

+--------------+-----------+
|Country/Region|TotalDeaths|
+--------------+-----------+
|           USA|     162804|
|        Brazil|      98644|
|        Mexico|      50517|
|            UK|      46413|
|         India|      41638|
|         Italy|      35187|
|        France|      30312|
|         Spain|      28500|
|          Peru|      20424|
|          Iran|      17976|
+--------------+-----------+

+-----------------+------------+
|        Continent|Total_deaths|
+-----------------+------------+
|    North America|    229855.0|
|           Europe|    205232.0|
|    South America|    154885.0|
|             Asia|    100627.0|
|           Africa|     22114.0|
|Australia/Oceania|       281.0|
|             NULL|        13.0|
+-----------------+------------+

In [13]:
#To check weather columns are in which data types
df_worldometer_data.printSchema()

root
 |-- Country/Region: string (nullable = true)
 |-- Continent: string (nullable = true)
 |-- Population: string (nullable = true)
 |-- TotalCases: string (nullable = true)
 |-- NewCases: string (nullable = true)
 |-- TotalDeaths: string (nullable = true)
 |-- NewDeaths: string (nullable = true)
 |-- TotalRecovered: string (nullable = true)
 |-- NewRecovered: string (nullable = true)
 |-- ActiveCases: string (nullable = true)
 |-- Serious,Critical: string (nullable = true)
 |-- Tot Cases/1M pop: string (nullable = true)
 |-- Deaths/1M pop: string (nullable = true)
 |-- TotalTests: string (nullable = true)
 |-- Tests/1M pop: string (nullable = true)
 |-- WHO Region: string (nullable = true)

In [14]:
#5. Average number of deaths by day (Continents and Countries) 
df_lastest.createOrReplaceTempView("country_lastest")
df_clean_complete.createOrReplaceTempView("clean_complete")
df_day_wise.createOrReplaceTempView("day_wise")
df_full_grouped.createOrReplaceTempView("full_grouped")
df_usa_country_wise.createOrReplaceTempView("usa_country_wise")
df_worldometer_data.createOrReplaceTempView("worldometer_data")
result=spark.sql(""" select Date,`Country/Region`,`WHO Region` as continents,avg(cast(Deaths as int)) as avg_deaths
                 from full_grouped
                 group by Date,`Country/Region`,`WHO Region`
                 order by Date
                 """
)
result.show()

+----------+--------------------+--------------------+----------+
|      Date|      Country/Region|          continents|avg_deaths|
+----------+--------------------+--------------------+----------+
|2020-01-22|              Brunei|     Western Pacific|       0.0|
|2020-01-22|             Bahamas|            Americas|       0.0|
|2020-01-22|              Angola|              Africa|       0.0|
|2020-01-22|          Madagascar|              Africa|       0.0|
|2020-01-22|                  US|            Americas|       0.0|
|2020-01-22|         Switzerland|              Europe|       0.0|
|2020-01-22|             Bahrain|Eastern Mediterra...|       0.0|
|2020-01-22|           Indonesia|     South-East Asia|       0.0|
|2020-01-22|             Armenia|              Europe|       0.0|
|2020-01-22|             Eritrea|              Africa|       0.0|
|2020-01-22|Bosnia and Herzeg...|              Europe|       0.0|
|2020-01-22|               China|     Western Pacific|      17.0|
|2020-01-22|             Ukraine|              Europe|       0.0|
|2020-01-22|              Kuwait|Eastern Mediterra...|       0.0|
|2020-01-22|             Somalia|Eastern Mediterra...|       0.0|
|2020-01-22|             Taiwan*|     Western Pacific|       0.0|
|2020-01-22|                Laos|     Western Pacific|       0.0|
|2020-01-22|           Sri Lanka|     South-East Asia|       0.0|
|2020-01-22|       Cote d'Ivoire|              Africa|       0.0|
|2020-01-22|               Qatar|Eastern Mediterra...|       0.0|
+----------+--------------------+--------------------+----------+
only showing top 20 rows

In [15]:
#6. Average of cases divided by the number of population of each country (TOP 10) 
df_lastest.createOrReplaceTempView("country_lastest")
df_clean_complete.createOrReplaceTempView("clean_complete")
df_day_wise.createOrReplaceTempView("day_wise")
df_full_grouped.createOrReplaceTempView("full_grouped")
df_usa_country_wise.createOrReplaceTempView("usa_country_wise")
df_worldometer_data.createOrReplaceTempView("worldometer_data")
result=spark.sql("""select `Country/Region`,avg(TotalCases)as Avg_Cases from worldometer_data
                 group by `Country/Region`
                 order by Avg_Cases desc
                 limit 10"""
    
    
)
result.show()

+--------------+---------+
|Country/Region|Avg_Cases|
+--------------+---------+
|           USA|5032179.0|
|        Brazil|2917562.0|
|         India|2025409.0|
|        Russia| 871894.0|
|  South Africa| 538184.0|
|        Mexico| 462690.0|
|          Peru| 455409.0|
|         Chile| 366671.0|
|      Colombia| 357710.0|
|         Spain| 354530.0|
+--------------+---------+